<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post">
        <input type="text" name="previousfilename" placeholder="previous file name" value="<%= title %>">
        <input type="text" name="newfilename" placeholder="new file name">
        <button type="submit">Rename</button>
    </form>
</body>
</html>